Form Button {
    width: 100%;
}

h2 {
    color: #313131;
}

h6 {
    color: greenyellow;
}

hr.line {
    border: 1px solid #313131;
    width: 175px;
    margin: 10px auto;
}

.app {
    margin: auto;
    padding-top: 40px;
    width: 950px;
    text-align: center;
}

.lobby {
    width: 400px;
    margin: auto;
}

.chat {
    display: grid;
}

.leave-room {
    text-align: right;
    margin-bottom: 4px;
}

.user-list {
    float: left;
    background-color: #313131;
    color: white;
    width: 200px;
    height: 440px;
    margin-right: 4px;
}

.message-container {
    height: 400px;
    background-color: white;
    overflow: auto;
    border-radius: 5px;
    margin-bottom: 2px;
}

.user-message, .sys-message {
    text-align: right;
    padding-right: 5px;
}

.user-message {
    font-size: 15px;
}

.user-message > .message {
    display: inline-flex;
    margin: 0px auto 0px auto;
    padding: 5px 15px;
    font-size: 1em;
    color: white;
    border-radius: 20px;
    margin-top: 3px;
}

.user-message > .from-user {
    font-size: 0.7rem;
    margin-bottom: 3px;
    margin-right: 5px;
}

.sys-message {
    font-size: 10px;
}

.sys-message > .message {
    color: red;
    margin-top: 3px;
}