html, body, #root {
    height: 100%;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    color: #313131;
}

Form Button {
    width: 100%;
}

hr.line {
    border: 1px solid #313131;
    width: 50%;
    margin: 1em auto;
}

.app {
    text-align: center;
    padding: 2em;
    background-color: #cfd8dc;
    border-radius: 1em;
}

/* lobby */
.lobby {
    width: 400px;
    margin: auto;
}

.lobby .form-control {
    margin: 1em 0;
}

.lobby .lobby-button {
    background-color: #009688;
    border-color: #26a69a;
}

.lobby .lobby-button:hover {
    background-color: #00796b ;
    border-color: #00897b ;
}

.chat {
    display: grid;
}

.leave-room {
    text-align: right;
    margin-bottom: 4px;
}

.user-list {
    float: left;
    background-color: #313131;
    color: white;
    width: 200px;
    height: 440px;
    margin-right: 4px;
}

.user-list ul {
    list-style-type: none;
    padding: 0;
    color: #2196f3    ;
}

.message-container {
    height: 400px;
    background-color: white;
    overflow: auto;
    border-radius: 5px;
    margin-bottom: 2px;
    padding: 1em 0;
}

.message.bot {
    text-align: center;
}

.message.user {
    text-align: left;
    font-size: 15px;
    padding: 0 .5em;
}

.message.user.owner {
    text-align: right;
    padding-right: 5px;
}

.message.user > .message {
    display: inline-flex;
    margin: 3px auto 0 auto;
    padding: 5px 15px;
    font-size: 1em;
    color: white;
    border-radius: 20px;
    background-color: #bdbdbd;
}

.message.user.owner > .message {
    background-color: #448aff;
}

.message.user > .from-user {
    font-size: 0.7rem;
    margin-bottom: 3px;
    margin-right: 5px;
}

.message.bot {
    font-size: .7em;
}

.message.bot > .message {
    margin-top: 3px;
}

.message.bot > .connection {
    color: blue;
}

.message.bot > .disconnection {
    color: red;
}